@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
    background-color: rgb(43, 45, 54);
    font-family: 'Nunito', sans-serif;
    color: rgb(245, 245, 245);
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: rgb(8, 8, 12);
}

::-webkit-scrollbar-thumb
{
    background: rgb(61, 60, 70);
    border-radius: 5px;
}

a{
    text-decoration: none;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    box-shadow: 0px 0px 5px black;
    
}

textarea
{
    resize: none;
}

.logo
{
    cursor: pointer;
}

.nav_links
{
    list-style: none;
}

.nav_links li
{
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
}

.nav_links li a
{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover
{
    color: chocolate;
}

.nav_links li a:active
{
    color: rgb(174, 219, 255);
}


button, #submit
{
    padding: 5px;
    border-radius: 50px;
    background-color: chocolate;
    border: solid 1px chocolate;
    color: black;
    font-size: 1rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

button:hover, #submit:hover
{
    background-color: rgb(43, 45, 54);
    color:white;
    border: solid 1px white;
}

button:active, #submit:active
{
    background-color: rgb(43, 45, 54);
    color:rgb(174, 219, 255);
    border: solid 1px rgb(174, 219, 255);
}

#submit
{
    margin: 10px 0px;
}


.contact-block
{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 400px;
    justify-content: space-between;
    background-color: rgb(34, 36, 43);
    box-shadow: black 0px 0px 5px;
}



.contact-block input,textarea
{
    background-color: rgb(34, 36, 43);
    border: solid 2px rgb(25, 26, 29);
    color: white;
    border-radius: 5px;
}

.contact-block label
{
    background-color: rgb(34, 36, 43);
    color: white;
    border: none;
}

.contact-block input
{
    margin-bottom: 20px;
}


.flex-block
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    
}


#content
{
    margin: 10rem .5rem;
    
}

.boxshadow
{
    box-shadow: 0px 0px 5px black;
    padding: 15px;
}


footer
{
    width: 100%;
    height: 150px;
    background-image: linear-gradient(180deg, rgb(20, 21, 26), rgb(10, 11, 14));
    box-shadow: black 0px 1px 5px;
}